
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <h1>Lista de Livros</h1>
        <a class="btn" href="/livros/novo">Adicionar Livro</a>
        <ul>
            <li th:each="livro : ${livros}">
                <span th:text="${livro.titulo} + ' - ' + ${livro.autor} + ' (' + ${livro.anoPublicacao} + ')'"></span>
                <a class="btn" th:href="@{/livros/excluir/{id}(id=${livro.id})}">Excluir</a>
            </li>
        </ul>
    </div>
</body>
</html>